.Header {
    width: 100%;
    height: 200px;
    background-color: rgb(35, 35, 35);
    font-family: 'Quicksand', sans-serif;
    color: white;  
    font-size: 20px;
    position: relative;
}

.Title {
    padding: 25px 0px 50px 0px;
    font-size: 40px;
    text-align: center;
}

.MenuItem {
    float: left;
    padding: 7px 25px;
    border-radius: 25px/25px;
    height: 30px;
    background-color: rgba(50, 250, 50, 0.483);
}

.MenuItem_b {
    float: left;
    padding: 7px 25px;    
    height: 30px;
    color: white;
}


.menuCenter {
    margin: auto;
    width: 900px;
}

@media screen and (max-width: 600px) {
    .menuItem {
      float: none;
      margin:auto;
      width: 100%;   
      text-align: center;

      
    }
}

@media screen and (max-width: 600px) {
    .menuItem_b {
      float: none;
      margin:auto;
      width: 100%;   
      text-align: center;
      
    }
}

@media screen and (max-width: 600px) {
    .menuCenter {
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .Header {
        height: 320px;
    }
  }

.DropDown {
    background-color: rgb(162, 231, 195);
    padding: 5px 10px;
    border-radius: 10px/10px;
    font-size: 15px;
    position: relative;
    left: 0px;
    top: 5px;
    display: none;
    z-index: 1;
    width: 120px;
}

.MenuItem_b:hover .DropDown {
    display: block;
}


.linkText {
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
  }